<launch>
	<arg name="model" default="$(find navigation)/urdf/husky.urdf" />
	<param name="robot_description" textfile="$(find navigation)/urdf/husky.urdf" />
	
	<!-->	start Rviz	<!-->
	<param name="use_gui" value="False"/>
   	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
   	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" /> 
  	 <node name="rviz" pkg="rviz" type="rviz" args="-d $(find gmapping)/config/sim2.rviz" />
</launch>
